<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>ChatGPT Clone</title>
    <script crossorigin="anonymous"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="h-screen bg-gray-100">
<div class="flex h-full">
    <!-- sidebar -->
    <section class="w-64 bg-gray-200 p-4">
        <div class="flex flex-col space-y-4">
            <div class="font-bold text-lg" id="recent-message-list">Recent</div>
        </div>
    </section>

    <!-- main content -->
    <main class="flex flex-col bg-white p-4 w-full max-w-full">
        <div class="flex-1 mb-4 p-4 h-full overflow-auto" id="response-container">
        </div>
        <div class="" x-data="chatForm()">
            <form class="w-full"
                  hx-on="htmx:afterRequest: document.getElementById('message').value = '';"
                  hx-post="/api/chat"
                  hx-swap="beforeend"
                  hx-target="#response-container"
                  id="chatForm"
                  x-ref="form">
                <div class="flex items-center bg-gray-200 rounded-full p-2 shadow-md">
                    <input class="bg-gray-200 outline-none text-gray-700 rounded-full py-2 px-4 w-full" 
                           id="message"
                           name="message" 
                           placeholder="Message ChatGPT Clone"
                           type="text"
                           x-ref="messageInput"
                           @keydown.enter.prevent="handleEnterKey($event)">
                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-600 rounded-full p-2 ml-2" type="submit">
                        <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 10l7-7m0 0l7 7m-7-7v18" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </main>
</div>

<script>
    function chatForm() {
        return {
            handleEnterKey(event) {
                // Only submit if Shift is not pressed and there's content
                if (!event.shiftKey && this.$refs.messageInput.value.trim() !== '') {
                    this.$refs.form.dispatchEvent(new Event('submit', { bubbles: true, cancelable: true }));
                }
            }
        }
    }
</script>
</body>